@model DataSourceViewAzureDatabricks

<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="WorkspaceUrl"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-12 col-lg-6">
        <div class="input-group">
            <div class="input-group-prepend hide-sm">
                <span class="input-group-text">https://</span>
            </div>
            <input type="text" class="form-control" asp-for="WorkspaceUrl" placeholder="Databricks Account">
            <div class="input-group-append hide-sm">
                <span class="input-group-text">.azuredatabricks.net</span>
            </div>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="AccessToken"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-12 col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" asp-for="AccessToken">
            <div class="input-group-append hide-sm">
                <a href="https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/authentication#token-management" target="_blank" class="btn btn-outline-light2 hide-sm" id="testConnectionButton">
                    <span class="hide-lg">About</span>
                    <i class="fas fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="ExistingClusterId"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-12 col-lg-6">
        <input type="text" class="form-control" asp-for="ExistingClusterId">
    </div>
</div>

<script>
    $(() => {
        $("#DataSourceView_WorkspaceUrl").rules("add", {
            required: true,
            messages: {
                required: "Workspace Url is required.",
            }
        });
        $("#DataSourceView_AccessToken").rules("add", {
            required: true,
            messages: {
                required: "Access token is required.",
            }
        });
        $("#DataSourceView_ExistingClusterId").rules("add", {
            required: true,
            messages: {
                required: "Existing cluster id is required.",
            }
        });
    });
</script>
