@model DataSourceViewAzureSqlDatabase

<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label d-flex">
        <div class="svg-22x22-icon">
            <div class="svg-icon @Model?.Icon"></div>
        </div>
        <span class="ml-2 mr-2">
            Properties:
        </span>
    </div>
    <div class="col-12 col-lg-8 btn-sm">
        <a href="#" class="btn btn-outline-light2 btn-sm text-nowrap" id="dataSourceTestButton">
            <i class="fas fa-plug"></i>
            Test Sql Connection
        </a>
    </div>
</div>

<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label text-nowrap">
        <label asp-for="DbDataSource" class="col-form-label"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-12 col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" asp-for="DbDataSource" placeholder="Server">
            <div class="input-group-append">
                <span class="input-group-text">.database.windows.net</span>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="InitialCatalog"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-12 col-lg-6">
        <input type="text" class="form-control" asp-for="InitialCatalog" placeholder="Database Name">
    </div>
</div>
<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="UserId"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-12 col-lg-6">
        <input type="text" class="form-control" asp-for="UserId" placeholder="User Id">
    </div>
</div>
<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="Password"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-12 col-lg-6">
        <input type="password" class="form-control" asp-for="Password" placeholder="Password">
    </div>
</div>
