@model EntityViewDelimitedText

<div class="d-flex align-items-center mb-2 mt-2">
    <div class="svg-22x22-icon">
        <div class="svg-icon svg-i-100x100-AzureBlob"></div>
    </div>
    <span class="ml-2 mr-2">
        Azure Storage properties:
    </span>
</div>

<input type="hidden" asp-for="DataSourcesItemsString" value="@Model?.DataSourcesItemsString" />

<input type="hidden" asp-for="LocationType" value="@Model?.LocationType" />



<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="DataSourceName">Choose a data source:</label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-8 col-lg-3">
        <select class="form-control"
                data-container="body"
                asp-items="@Model?.DataSourcesItems"
                asp-for="DataSourceName">
        </select>
    </div>
    <div class="col-2 col-lg-1">
        <a asp-page="/DataSources/New" class="btn btn-outline-light2 btn-sm">
            <i class="fas fa-plus-circle"></i>
            New
        </a>
    </div>
    <div class="col-12 col-lg-8 offset-lg-2"><span id="labelErrorDataSources" class="text-danger"></span></div>
</div>
<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="FullPath"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-8 col-lg-3">
        <select class="form-control"
                data-container="body"
                asp-for="FullPath">
        </select>
    </div>
    <div class="col-12 col-lg-8 offset-lg-2"><span id="labelErrorDirectoryPath" class="text-danger"></span></div>
</div>
<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="FirstRowAsHeader"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-8 col-lg-3">
        <input class="form-control"
               type="checkbox"
               asp-for="FirstRowAsHeader">
    </div>
</div>
<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="CompressionCodec"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-8 col-lg-3">
        <select class="form-control"
                data-live-search="true"
                data-container="body"
                asp-items="@Model?.CompressionCodecs"
                asp-for="CompressionCodec">
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="ColumnDelimiter"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-8 col-lg-3">
        <select class="form-control"
                data-live-search="true"
                data-container="body"
                asp-items="@Model?.ColumnDelimiters"
                asp-for="ColumnDelimiter">
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="RowDelimiter"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-8 col-lg-3">
        <select class="form-control"
                data-live-search="true"
                data-container="body"
                asp-items="@Model?.RowDelimiters"
                asp-for="RowDelimiter">
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="EncodingName"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-8 col-lg-3">
        <select class="form-control"
                data-live-search="true"
                data-container="body"
                asp-items="@Model?.Encodings"
                asp-for="EncodingName">
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="EscapeChar"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-8 col-lg-3">
        <select class="form-control"
                data-live-search="true"
                data-container="body"
                asp-items="@Model?.EscapeCharacters"
                asp-for="EscapeChar">
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="QuoteChar"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-8 col-lg-3">
        <select class="form-control"
                data-live-search="true"
                data-container="body"
                asp-items="@Model?.QuoteCharacters"
                asp-for="QuoteChar">
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-12 col-lg-2 col-form-label">
        <label asp-for="NullValue"></label>
        <label class="text-danger">*</label>
    </div>
    <div class="col-8 col-lg-3">
        <input type="text" class="form-control" asp-for="NullValue">
    </div>
</div>
