.spinner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: #f9f9f980;
    display: none;

    div {
        position:absolute;
        margin: auto;
        top: 50%;
        right: 50%;
        left: 50%;
        bottom: 50%;
        display:flex;
        flex-direction:column;
        align-items:center;
        white-space:nowrap;
    }
}
