@page
@model Ygdra.Web.UI.Pages.Create.IndexModel
@{
}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ml-2 border-bottom">
    <h1 class="h4">Create</h1>
</div>

<breadcrumb asp-homepage-title="Dashboard"
            asp-homepage-url="/Dashboard"
            asp-homepage-glyphicon="glyphicon glyphicon-home"></breadcrumb>

<div class="docking-form">

</div>

<div class="docking-footer">
    <button type="button" class="btn btn-dark">Review + Create</button>
    <button type="button" class="btn btn-dark">Previous</button>
    <button type="button" class="btn btn-dark">Next</button>
</div>

